OPEN_AI_BASE_URL=
OPEN_AI_API_KEY=
OPEN_AI_MODEL=

# Deprecated
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
DATABASE_URL=
DIRECT_URL=
NODE_ENV=
CLERK_ENABLED=

# AI Providers
OLLAMA_API_KEY=
DEEPSEEK_API_KEY=
GROQ_API_KEY=
DEEP_INFRA_API_KEY=
OPEN_ROUTER_API_KEY=
GOOGLE_AI_STUDIO_API_KEY=
REQUESTY_AI_API_KEY=